@import "../../variables.module.scss";

.free-pattern-card {
  &.ant-card {
    .ant-card-cover {
      overflow: hidden;
    }
  }

  .status-tag {
    text-transform: lowercase;
    margin: 0 0 5px;
  }

  .creator {
    font-size: 14px;
    color: $textPrimaryColor;

    .creator-link {
      font-size: 14px;
      color: $textPrimaryColor;

      &:hover {
        color: $colorPrimary;
      }
    }
  }
}