@import "../../variables.module.scss";

.free-pattern-card {
  &.ant-card {
    .ant-card-cover {
      overflow: hidden;
    }
  }

  .status-tag {
    text-transform: lowercase;
    margin: 0 0 5px;
  }

  .creator {
    font-size: 14px;
    color: $textPrimaryColor;

    .creator-link {
      font-size: 14px;
      color: $textPrimaryColor;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

  .bookmark-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 4px;
    z-index: 1;

    &:hover {
      background: white;
    }
  }

  .more-options-button {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 4px;

    &:hover {
      background: white;
    }
  }

  .action-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    display: none; // Hide by default
    flex-direction: column;
    gap: 4px;

    .action-button {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      padding: 4px;

      &:hover {
        background: white;
      }
    }
  }

  &:hover {
    .action-buttons {
      display: flex; // Show on hover
    }
  }
}