@import "../../variables.module.scss";

// Notification page styles
.notifications-page {
  margin: 0 auto;

  .notifications-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;

    .actions {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    >* {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  .ant-list-empty-text {
    padding: 40px 0;
  }
}