$secondColor: #e72929;
$colorPrimary: #fc8282;
$backgroundColor: #fff;
$borderColor: #ffccf2;
$textPrimaryColor: #292929;
$textSecondColor: #707070;

$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #ff4d4f;
$color-info: #1677ff;
$color-link: #1677ff;

$screen_425: 425px;
$xs: 576px;
$md: 768px;
$lg: 992px;
$screen_1024: 1024px;
$xl: 1200px;
$xxl: 1440px;

$fontSize_small: 14px;
$fontSize_middle: 16px;
$fontSize_large: 20px;

$fontWeight_normal: 400;
$fontWeight_medium: 500;
$fontWeight_semibold: 600;
$fontWeight_bold: 700;
