$secondColor: #E72929;
$colorPrimary: #fc8282;
$backgroundColor: #fff;
$borderColor: #ffccf2;
$textPrimaryColor: #292929;
$textSecondColor: #707070;

$xs: 576px;
$md: 768px;
$lg: 992px;
$screen_1024: 1024px;
$xl: 1200px;
$xxl: 1440px;

$fontSize_small: 14px;
$fontSize_middle: 16px;
$fontSize_large: 20px;

$fontWeight_normal: 400;
$fontWeight_medium: 500;
$fontWeight_semibold: 600;
$fontWeight_bold: 700;